#p {
	display: block;
	margin: 0 auto;
	border: 3px outset #f1f1f1;
	width: 400px;
	height: 400px;
	line-height: 11px;

	transform: scale(1.5) translateY(150px);

	background-image:
	-moz-linear-gradient(45deg, #f1f1f1 25%, transparent 25%),
	-moz-linear-gradient(-45deg, #f1f1f1 25%, transparent 25%),
	-moz-linear-gradient(45deg, transparent 75%, #f1f1f1 75%),
	-moz-linear-gradient(-45deg, transparent 75%, #f1f1f1 75%);
	background-image:
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #f1f1f1), color-stop(.25, transparent)),
	-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #f1f1f1), color-stop(.25, transparent)),
	-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #f1f1f1)),
	-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #f1f1f1));

	background-size:100px 100px;
	background-position:0 0, 50px 0, 50px -50px, 0 50px;
}

#p[class="2"] {
	border-color: #111;
}

#p > * {
	display: inline-block;
	position: relative;
	font-weight: normal;
	font-style: normal;
	width: 50px;
	height: 50px;
	font-size: 36px;
	box-sizing: border-box;
}

#p > *:after {
	position: absolute;
	top: 21px;
	left: 9px;
}

#p > a[c="2"]:after {
	content: '♟'
}

#p > b[c="2"]:after {
	content: '♜'
}

#p > c[c="2"]:after {
	content: '♞'
}

#p > d[c="2"]:after {
	content: '♝'
}

#p > e[c="2"]:after {
	content: '♛'
}

#p > f[c="2"]:after {
	content: '♚'
}

#p > a[c="1"]:after {
	content: '♙'
}

#p > b[c="1"]:after {
	content: '♖'
}

#p > c[c="1"]:after {
	content: '♘'
}

#p > d[c="1"]:after {
	content: '♗'
}

#p > e[c="1"]:after {
	content: '♕'
}

#p > f[c="1"]:after {
	content: '♔'
}